body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img.empty-logo {
  width: 200px;
  display: flex;
  align-self: center;
}

.empty-table {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 40%;
}

.empty-content i.fa-angry {
  font-size: 60px;
}

.empty-content {
  margin: 30% auto;
}
